@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@600;700&family=Ubuntu:wght@300;400;500;700&family=Outfit:wght@600;700&family=Manrope:wght@300;400&;500display=swap');

*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
   list-style: none;
   padding: 0;
   margin: 0;
}

/* Убираем внешние отступы /
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
padding: 0;
margin: 0;
font-family: "Montserrat", sans-serif;
}

/ Выставляем основные настройки по-умолчанию для body */

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin: 0;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
   list-style: none;
}

/* Упрощаем работу с изображениями */
img {
   max-width: 100%;
   display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
   font-family: 'Montserrat', sans-serif;
}
